body {
    background-color: beige;
}

h1 {
    font: 40px sans-serif;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 5px;
    flex-direction: row;
}

.pomodoro-text {
    font: 40px sans-serif;
    color: green;
}



#button-startstop {
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.start{
    background-color: green;
}

.stop{
    background-color: red;
}


.button-reset {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.pomodoro-cnt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
}

.pomodoro-cnt-text {
    font: 20px sans-serif;
}

.pomodoro-cnt{
    font: 30px sans-serif;
}

.container-pomodoro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.progress-container {
    height: 0.8rem;
    width: 32rem;
    border-radius: 0.4rem;
    background: #000;
  }
  
  .progress-container .progress {
    height: 100%;
    width: 0;
    border-radius: 0.4rem;
  
    background: #ff4754;
  
    transition: width 0.1s ease;
  }